[submodule "XPolicyLab"]
	path = XPolicyLab
	url = https://github.com/Cuzyoung/XPolicyLab.git
[submodule "PRM-as-a-Judge"]
	path = PRM-as-a-Judge
	url = https://github.com/YuyangLiu2003/PRM-as-a-Judge.git
